.panda-bg-info{
    background-color: #FCEAE8;
}

.dolor{
    color: #FF136F;
}
.categories img{
    width: 100px;
}

.watch{
    background-color: #FFA500;
}

.bag{
    background-color: #DA70D6;
}

.shoes{
    background-color: #0000FF;
}

.panda-btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}

.get{
    color: grey;
}